<h1 class="text-center mb-3">{{title}}</h1>
<em>Just an API with dummy data, while prototyping projects.</em>

<form action="http://localhost:5000/users" method="POST">

  <div class="form-group row">
    <label for="lastname">Lastname</label>
    <input type="text" name="lastname">
  </div>

  <div class="form-group row">
    <label for="lastname">Firstname</label>
    <input type="text" name="firstname">
  </div>

  <input type="submit" value="CREATE user">

</form>

<hr>

<a href="/users">See Users</a>